<div class="new-comment-form">
  <%#= simple_form_for [@art,@comment] do |f| %>
      <%#= f.input :content %>
      <%# f.input :user_id, input_html: {value: params[:current_user_id]} %>
      <%# f.input :art_id, input_html: {value: params[:art_id]} %>
      <br><br>
      <%#= f.button :submit, 'Post' %>
    <%# end %>

</div>
