// @font-face {
//   font-family: 'Montserrat';
//   src: url(../../fonts/Montserrat-VariableFont_wght.ttf);
//   font-weight: normal;
// }
.padbox{
  padding: 40px 8%;
}
.uptext h1{
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 48px ;
}
p.city{
  color: #FFBD59;
  font-weight: bold;
}
.user{
  color: rgb(56, 70, 218);
  font-weight: bold;
}
.user-photo{
  display: flex;
  // justify-content: space-between;
  // align-items: center;
  flex-direction: column;
}
.user-photo a{
  text-decoration: none;
  background-color: rgb(56, 70, 218);
  padding: 4px 12px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.user-photo a:hover{
  background-color: rgb(23, 33, 151) ;
}
.user-photo img{
  margin-right: 30px;
}
.dash-box{
  display: flex;
  height: 100%;
  min-height: 100vh;
}
.uptext{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
// span.yellow{
//   background-color: rgb(254, 254, 155);
//   border-radius: 4px;
//   padding: 2px 4px;
// }
.left{
  flex: 4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.right{
  flex: 1;
  padding: 30px;
  // background: rgb(255,255,255);
  // background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(245,245,255,0.756827731092437) 100%);
  margin-bottom: 12px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;


  // background-color: #FFBD59;
//   background: rgb(255,189,89);
// background: linear-gradient(90deg, rgba(255,189,89,1) 0%, rgba(253,219,149,1) 100%);
}
.sharebox{
  min-height: 160px;
  // background-color: rgb(246, 245, 245);
  // background: rgb(205,202,255);
  // background: linear-gradient(90deg, rgba(205,202,255,1) 0%, rgba(129,127,255,0.756827731092437) 100%);
  padding: 20px;
  border-radius: 4px;
}
.sharebox a{
  text-decoration: none;
  background-color: #FFBD59;
  padding: 6px 24px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
}
.sharebox a:hover{
  background-color: rgb(23, 33, 151) ;
}
.viewbox{
  padding: 20px;
  // background: rgb(245,245,245);
  // background: linear-gradient(90deg, rgba(245,245,245,1) 0%, rgba(239,239,255,0.756827731092437) 100%);
}
.mess-box a{
  text-decoration: none;
  background-color: rgb(56, 70, 218);
  padding: 4px 12px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  text-align: center;
  display: block;
}
.mess-box a:hover{
  background-color: rgb(23, 33, 151) ;
}
.galleries-mini{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card{
  width: 160px;
  margin: 8px 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-radius: 6px;
}
.card h4{
  font-size: 20px;
  font-weight: bold;
  align-self: center;
}
.card img{
  align-self: center;
}
.profile-box, .mess-box{
  padding: 0 12px;
}
img.av{
  border-radius: 50%;
}
