// @font-face {
//   font-family: 'Montserrat';
//   src: url(../../fonts/Montserrat-VariableFont_wght.ttf);
//   font-weight: normal;
// }
.uptext h1{
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 48px ;
}
.dash-box{
  display: flex;

}
.uptext{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
span.yellow{
  background-color: rgb(254, 254, 155);
  border-radius: 4px;
  padding: 2px 4px;
}
.left{
  flex: 3;
  padding: 20px;
}
.right{
  flex: 1;
  padding: 20px 20px 30px 20px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(245,245,255,0.756827731092437) 100%);
  margin-bottom: 12px;
  border-radius: 6px;
}
.sharebox{
  min-height: 160px;
  // background-color: rgb(246, 245, 245);
  background: rgb(205,202,255);
  background: linear-gradient(90deg, rgba(205,202,255,1) 0%, rgba(129,127,255,0.756827731092437) 100%);
  padding: 20px;
  border-radius: 4px;
}
.sharebox a{
  text-decoration: none;
  background-color: rgb(56, 70, 218);
  padding: 6px 16px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
}
.sharebox a:hover{
  background-color: rgb(23, 33, 151) ;
}
.viewbox{
  padding: 20px;
}

.galleries-mini{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card{
  width: 200px;
  margin: 8px 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 6px;
}
.card h4{
  font-size: 20px;
  font-weight: bold;
  align-self: center;
}
.card img{
  align-self: center;
}
.profile-box, .mess-box{
  padding: 0 12px;
}
img.av{
  border-radius: 50%;
}
