// Specific CSS for your home-page
.banner {
  display: flex;
  padding: 40px 10%;
  background-color: #FFBD59;
  justify-content: space-between;
  align-items: center;
  height: 75vh;

}
.containerrr{
  padding: 40px 10%;
}
.banner img{
  border-radius: 6px;
}
.banner-txt{
  padding: 20px 20px 20px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}
.banner-txt h1{
  font-size: 48px;
  font-weight: bold;
}
.banner-txt a{
  text-decoration: none;
  background-color: rgb(56, 70, 218);
  padding: 6px 16px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  width: fit-content;
}
.banner-txt a:hover{
  background-color: rgb(23, 33, 151) ;
}
.t a{
  text-decoration: none;
  background-color: rgb(56, 70, 218);
  padding: 6px 16px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  width: fit-content;
}
.t a:hover{
  background-color: rgb(23, 33, 151) ;
}
.share-box{
  text-align: right;
  padding: 40px 10%;
  background: rgb(245,245,245);
  background: linear-gradient(90deg, rgba(245,245,245,1) 0%, rgba(239,239,255,0.756827731092437) 100%);
}
.artext{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.artext img{
  padding-left: 30px;
}
.artext p {
  font-size: 20px;
  font-style: italic;
}
.gallerybox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.images{
  display: flex;
  justify-content: space-between;
  margin: 40px 10%;

}
.ldg-img img{
  border-radius: 4px;
  padding: 4px;
}
.ldg-img p{
  text-align: center;
  font-weight: 600;
}
.artpost{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
footer{
  background-color: rgb(62, 61, 61);
  color: white;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer ul {
  padding-left: 0;
}
footer li{
  list-style: none;
  display: inline;
}

 i{
  font-size: 32px;
  padding: 8px;
}
i:hover{
  color: #FFBD59;
}
