.myart{
  display: flex;
  justify-content: flex-start;
}
.giant{
  background: rgb(245,245,245);
  background: linear-gradient(90deg, rgba(245,245,245,1) 0%, rgba(239,239,255,0.756827731092437) 100%);
}
.bbbox{
  display: flex;
  padding: 30px;
}
h1.mygallery-title{
  font-size: 48px;
  font-weight: bold;
  padding-left: 30px;
}
.myart{
  overflow-x: auto;
  overscroll-behavior: contain;
  white-space: nowrap;
  max-width: 75%;

}

.creategall{
  // padding: 30px;
  // border-radius: 6px;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // margin-right: 10%;

  padding: 30px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.big-card{
  margin-bottom: 12px;
  padding: 30px;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  // flex:5;
  width: 70%;


}

.rightside{
  flex-grow: 1;
  // flex:2;
}
.creatext {
  width: 100%;
}
.creatext a{
  text-decoration: none;
  background-color: rgb(56, 70, 218);
  padding: 4px 12px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  text-align: center;
  display: block;
}
.creatext a:hover{
  background-color: rgb(23, 33, 151) ;
}
.mypaint h3 {
  color: rgb(135, 214, 164);
}
.mydraw h3{
  color: rgb(186, 124, 240);
}
.mydigit h3{
  color: rgb(255, 207, 124);
}
.myphoto h3{
  color: rgb(117, 156, 242);
}
// .art{
//   margin: 6px;
// }
.art img {
  border-radius: 15px;
  padding: 10px;
}
.big{
  display: flex;
  justify-content: space-between;
}
