.art-form{
min-height: 100vh;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.Form{
  padding: 30px;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 340px;
  height: fit-content;

}
