<div class="container">
  <div class="banner">
    <div class="banner-txt">
      <h1>Arty space</h1>
      <p>Welcome to the best digital gallery !</p>
      <p>A simple way to share your work all around the world, and increase your visibility as an artist.</p>
    </div>
    <div class="banner-img">
      <%= image_tag'gallery.png', width:"600px" %>
    </div>
  </div>
  <div class="infos">
    <div class="sharebox">
      <h2>Post your work</h2>
      

    </div>
    <div class="gallerybox">

    </div>

  </div>


</div>
