<div class="container">
  <div class="banner">
    <div class="banner-txt">
      <h1>Arty space</h1>
      <p>Welcome to the best digital gallery !</p>
    </div>
    <div class="banner-img">
      <%= image_tag'gallery.png', width:"600px" %>
    </div>





  </div>


</div>
