<div class="container">

  <div class="photos-box gall">
    <h1>Photographs</h1>
    <div class="bloccc">
      <% allpaintings = Art.where(category: "photography") %>
      <% allpaintings.each do |art| %>
        <div class="card-gall">
          <div class="frame">
            <%= link_to art_path(art) do %>
              <%= cl_image_tag art.photo.key, width:'300px', height:'300px'%>
            <% end %>
          </div>
          <p><%= art.title %></p>
          <p><%= art.user.email %></p>
        </div>

      <% end %>
    </div>
  </div>
</div>
