<div class="container">
  <h1>My Gallery</h1>
  <div class="maygallery-box gall">

  <% @posts.each do |post| %>
    <%= post.title %>
    <%= post.description %>
    <%= post.created_at %>
  <% end %>

  </div>

  <%= link_to "New post", new_post_path %>

</div>
