.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
img.logo{
  margin: 0 8px;
  border-radius: 5px;
}
.dropdown-menu-end.gal{
  right: 80px;
  left: auto;

  // width: fit-content;
}
.dropdown-menu-end {
  border-radius: 5px;
}
a.nav-link.droppy:hover{
  color: white;
  background-color: rgb(62, 61, 61);
}
a.nav-link:hover{
  color: black;
}
